{% extends 'base.html' %}
{% load static %}
{% load sidebar %}

{% block title %}Торты на заказ{% endblock %}
{% block keywords %}торты курск, детский торт, бенто торт, торты на заказ в Курске, корпоративные торты Курск, вкусные торты курск, праздничный торт, меренговый рулет{% endblock %}
{% block description %}Изготовим торты на заказ - придумайте дизайн или выберете из каталога и мы изготовим торт любой сложности из натуральных продуктов от кондитерской Vanilinka. Заказ ☎ +7 (951) 311-67-70.{% endblock %}
{% block ogtitle %}Торты и пирожные из натуральных ингредиентов в Курске от Vanilinka{% endblock %}
{% block ogdescription %}Изготовим всевозможные торты и десерты на заказ в Курске из натуральных продуктов от кондитерской Vanilinka. Недорогие торты любой сложности с доставкой по Курску. Заказ ☎ +7 (951) 311-67-70.{% endblock %}

{% block content %}

    <div class="content">
        <div class="main-page">
            <div class="container">
                <div class="row">
                    <div class="vanilinka_list">
                        <h1 class="show_title1">Каталог тортов на заказ в Курске</h1>
                        <div data-entity="container-1">
                            <div class="row_1">
                                {% for post in posts %}
                                    <div class="p-cnt-1 nl-cnt-4 nx-cnt-3 product_container" style="min-height: 509px;">
                                        <div class="vanilinka_product">
                                            <div class="product-item-container">
                                                <div class="label_list">
                                                    {% if post.new == True %}
                                                        <span class="product_label new">Новинка</span>
                                                    {% endif %}
                                                    {% if post.sale == True %}
                                                        <span class="product_label sale_label">Скидка <span>{{ post.sale_price }}%</span></span>
                                                    {% endif %}
                                                </div>
                                                <a class="product_wrapper show" href="{{ post.get_absolute_url }}" title="{{ post.title }}">
                                                    <span class="product_image" style="background-image: url({{ post.photo.url }});">
                                                </span>
                                                </a>
                                                <a href="{{ post.get_absolute_url }}" title="{{ post.title }}" class="product_name">{{ post.title }}</a>
                                                <div class="product_weight">от 2 кг. </div>
                                                <div class="product_price">
                                                    <div class="price">
                                                        <span>{{ post.price }}</span> руб.
                                                    </div>
                                                </div>
                                                <div class="product_basket">
                                                    <a class="add_basket" href="{{ post.get_absolute_url }}">Подробнее</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="vanilinka_pagination_bottom">
                {% if page_obj.has_other_pages %}
                    <div class="vanilinka_pagination_page">
                        <ul>
                            <li></li>
                            {% if page_obj.has_previous %}
                            <li><a href="?page={{ page_obj.previous_page_number }}">&lt;</a></li>
                            {% endif %}

                            {% for p in page_obj.paginator.page_range %}
                                {% if page_obj.number == p %}
                                <li class="vn_active">{{ p }}</li>
                                {% elif p > page_obj.number|add:-4 and p < page_obj.number|add:4 %}
                                <li><a href="?page={{ p }}">{{ p }}</a></li>
                                {% endif %}
                            {% endfor %}

                            {% if page_obj.has_next %}
                                <li><a href="?page={{ page_obj.next_page_number }}">&gt;</a></li>
                            {% endif %}
                        </ul>
                    </div>
                {% endif %}
            </div>
        </div>

        <br>

    </div>
    <script type="text/javascript" src="{% static 'js/slidind.js' %}"></script>

{% endblock %}