{% extends 'base.html' %}
{% load static %}

{% block title %}Условия оформления заказая : {{ block.super }}{% endblock %}

{% block content %}

<div class="content">
    <div class="container">
        <div class="contact_form">
        <h1 class="section_title">Условия заказов в пределах Курска </h1>
            <p>
            </p>
            <p>
                 Оформить заказ можно онлайн через Интернет не выходя из дома, Вам достаточно позвонить нам или заказать торт на странице каталога на сайте. Заказ тортов на нашем сайте в Интернете круглосуточно, мы обязательно сразу же свяжемся с Вами в часы работы кондитерской:
            </p>
            <p>
                 1. Оформить заказ можно:
            </p>
            <p>
                • на сайте
            </p>
            <p>
                • по телефону 8 951 311 67 70
            </p>
            <p>
                • в сообществе вконтакте <a href="https://vk.com/vanilinkatort">https://vk.com/vanilinkatort</a>
            </p>
            <p>
                 2. Заказы принимаются ежедневно, без выходных: с понедельника по воскресенье — с 10:00 до 20:00.&nbsp;&nbsp;
            </p>
            <p>
                 3.	Просим учитывать сроки исполнения заказов!
            </p>
            <p>
                • заказ на индивидуальные торты необходимо оформить не ранее чем за 2 дня до желаемой даты исполнения.
            </p>
            <p>
                • минимальный вес торта по индивидуальному дизайну – 2 кг.
            </p>
            <p>
                • внимание! заказы на торты с некоторыми начинками принимаются за 3-5 дней до даты исполнения.
            </p>
            <p>
                • возможность выполнения заказа в более короткие сроки уточняйте у менеджера (Мы всегда находим решение, если есть возможность!).
            </p>
            <p>
                4. После размещения заказа на сайте мы свяжемся с Вами для согласования деталей заказа, его стоимости, даты, времени, адреса доставки.
            </p>
            <p>
                5. Заказ считается оформленным после внесения предоплаты 50%.
            </p>
            <p>
                6.	Внести изменения в заказ, как правило, можно не позднее, чем за 1 день до наступления даты исполнения заказа, в отдельных случаях потребуется компенсация уже понесенных затрат на исполнение заказа.            </p>
            <p>
                7. Отказ от оформленного заказа возможен как правило, не позднее, чем за 2 дня (48 часов) до наступления даты исполнения заказа.            </p>
            <p>
            <p>
                 При возникновении форс-мажорных ситуаций, всегда возможно найти самое оптимальное решение!
            </p>

        </div>
    </div>
</div>

{% endblock %}