{% extends 'base.html' %}
{% load static %}
{% load sidebar %}



{% block content %}

    <div class="content">
        <div class="main-page">
            <div class="owl-stage-outer">
                    <!-- Slideshow container -->
                <div class="slideshow-container">
                    <div class="main_banners owl-carousel">

                            <!-- Full-width images with number and caption text -->
                        <div class="slide-owl-wrap">
                                <div class="mySlides fade">
                                <div class="numbertext">1 / 3</div>
                                    <a href="/category/katalog-tortov/">
                                    <img class="img-responsive desktop_banner" src="{% static 'img/karusel1.webp' %}" width="2730" height="1050" title="Баннер 1"
                                    alt="Торты Курск Баннер 1">
                                    </a>
                                </div>

                                <div class="mySlides fade">
                                <div class="numbertext">2 / 3</div>
                                    <a href="/category/katalog-tortov/">
                                    <img class="img-responsive desktop_banner" src="{% static 'img/karusel2.webp' %}" width="2730" height="1050" title="Баннер 2"
                                    alt="Торты на заказ Курск Баннер 2">
                                </a>
                                </div>

                                <div class="mySlides fade">
                                <div class="numbertext">3 / 3</div>
                                    <a href="/category/katalog-tortov/">
                                    <img class="img-responsive desktop_banner" src="{% static 'img/karusel3.webp' %}" width="2730" height="1050" title="Баннер 3"
                                    alt="Торты Курск Баннер 3">
                                    </a>
                                </div>

                            <div class="owl-dots">
                                <span class="dot" onclick="currentSlide(1)"></span>
                                <span class="dot" onclick="currentSlide(2)"></span>
                                <span class="dot" onclick="currentSlide(3)"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="vanilinka_list">
                        <h1 class="product_title show_title">Cтудия тортов и десертов на заказ в Курске</h1>
                        <div class="catalog_teg">
                            <ul class="catalog_sections_ul">
                                <li>
                                    <a href="https://vanil-inka.ru/tag/detskij/">Детский</a>
                                </li>
                                <li>
                                    <a href="https://vanil-inka.ru/tag/zhenskij/">Женский</a>
                                </li>
                                <li>
                                    <a href="https://vanil-inka.ru/tag/muzhskoj/">Мужской</a>
                                </li>
                                <li>
                                    <a href="https://vanil-inka.ru/tag/svadebnyj/">Свадебный</a>
                                </li>
                                <li>
                                    <a href="https://vanil-inka.ru/tag/tematicheskij/">Тематический</a>
                                </li>
                                <li>
                                    <a href="https://vanil-inka.ru/tag/tort-na-den-rozhdeniya/">Торт на день рождения</a>
                                </li>
                            </ul>
                        </div>
                        <div data-entity="container-1">
                            <div class="row_1">
                                {% for post in posts %}
                                    <div class="p-cnt-1 nl-cnt-4 nx-cnt-3 product_container" style="min-height: 509px;">
                                        <div class="vanilinka_product">
                                            <div class="product-item-container">
                                                <div class="label_list">
                                                    {% if post.new == True %}
                                                        <span class="product_label new">Новинка</span>
                                                    {% endif %}
                                                    {% if post.sale == True %}
                                                        <span class="product_label sale_label">Скидка <span>{{ post.sale_price }}%</span></span>
                                                    {% endif %}
                                                </div>
                                                <a class="product_wrapper show" href="{{ post.get_absolute_url }}" title="{{ post.title }}">
                                                    <span class="product_image" style="background-image: url({{ post.photo.url }});">
                                                </span>
                                                </a>
                                                <a href="{{ post.get_absolute_url }}" title="{{ post.title }}" class="product_name">{{ post.title }}</a>
                                                {% if post.id == 18 or post.id == 17 %}
                                                    <div class="product_weight"> 1 кг </div>
                                                {% else %}
                                                    <div class="product_weight">от 2 кг </div>
                                                {% endif %}
                                                <div class="product_price">
                                                    <div class="price">
                                                        {% if post.id == 18 or post.id == 17 %}
                                                            <span>{{ post.price }}</span> руб.
                                                        {% else %}
                                                            <span>{{ post.price }}</span> руб./кг
                                                        {% endif %}
                                                    </div>
                                                </div>
                                                <div class="product_basket">
                                                    <a class="add_basket" href="{{ post.get_absolute_url }}">Подробнее</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="vanilinka_pagination_bottom">
                {% if page_obj.has_other_pages %}
                    <div class="vanilinka_pagination_page">
                        <ul>

                            <li></li>
                            {% if page_obj.has_previous %}
                            <li><a href="?page={{ page_obj.previous_page_number }}">&lt;</a></li>
                            {% endif %}

                            {% for p in page_obj.paginator.page_range %}
                                {% if page_obj.number == p %}
                                <li class="vn_active">{{ p }}</li>
                                {% elif p > page_obj.number|add:-4 and p < page_obj.number|add:4 %}
                                <li><a href="?page={{ p }}">{{ p }}</a></li>
                                {% endif %}
                            {% endfor %}

                            {% if page_obj.has_next %}
                                <li><a href="?page={{ page_obj.next_page_number }}">&gt;</a></li>
                            {% endif %}
                        </ul>
                    </div>
                {% endif %}
            </div>
        </div>


		<div class="catalog_description">
			<div class="contact_form">
				<h2 class="section_title">ОПИСАНИЕ</h2>
					<p>
					</p>
					<p>
					🎂 Торты на заказ с фото.
					</p>
					<p>
					🎂 Купить торты Курск по цене от 1000 руб.
					</p>
					<p>
					🎂 Недорогие свадебные торты на заказ.
					</p>
					<p>
					Сладкий шедевр – вот как можно назвать восхитительные торты созданные в кондитерской Vanilinka.
					</p>
					<p>
					Мы воплощаем ваши мечты и готовим эксклюзивные торты на заказ в Курске, сохраняя высокое качество и постоянно совершенствуя мастерство, чтобы реализовывать любые ваши фантазии и делать яркие моменты еще ярче!
					</p>
					<p>
						РАЗНООБРАЗИЕ ТОРТОВ НА ЗАКАЗ
					</p>
					<p>
						▪️ Форма. От классических решений до самых необычных по Вашим эскизам или фотографиям.
					</p>
					<p>
						▪️ Декор. При заказе торта необходимо ориентироваться на общую тематику и цветовую палитру торжества. В каталоге представлены изысканные решения для разных торжеств.
					</p>
					<p>
						▪️ Начинка. Наша кондитерская располагает эксклюзивными рецептами тортов.
					</p>
					<p>
						ПРЕИМУЩЕСТВА НАШИХ ТОРТОВ
					</p>
					<p>
						▪️ Натуральная начинка. Для приготовления десерта используются свежие высококачественные ингредиенты: орехи, ягоды, фрукты, шоколад и т. д. Продуманные сочетания компонентов обеспечивают идеальный вкус без добавления искусственных подсластителей и усилителей.
					</p>
					<p>
						▪️ Безупречное качество выпечки. Мы располагаем современным оборудованием, необходимым для совершения полного цикла операций. Это позволяет контролировать качество продукции на всех этапах ее создания, а также на стадии упаковки и доставки.
					</p>
					<p>
						▪️ Элитное оформление. Над приготовлением тортов работают профессиональные кондитеры. Для создания декоративных композиций используются первоклассные европейские материалы, позволяющие реализовать любую идею.
					</p>
					<p>
						ДАРИМ ИДЕАЛЬНЫЙ СЛАДКИЙ ПРАЗДНИК
					</p>
					<p>
						Если вы обращаетесь в Vanilinka, значит, на то есть торжественный повод!
					</p>
					<p>
						Мы дорожим вашими счастливыми моментами и хотим сделать их еще более прекрасными и запоминающимися. Мы готовы воплотить в жизнь вашу идеальную сладкую сказку, и поэтому:
					</p>
					<p>
						▪️ Только для вас – больше 20 видов премиум-начинок: фруктовых, сливочных, ягодных, муссовых, шоколадных…
					</p>
					<p>
						▪️ Огромный выбор декора: пряники, шоколадный велюр, зеркальная глазурь, живые цветы и свежие ягоды, ганаш, мастика, съедобные фигурки… Для нас нет ничего невозможного!
					</p>
					<p>
						▪️ Доставка. Привезем торт в стандартном режиме или к определенному времени – даже ранним утром или глубокой ночью!
					</p>
					<p>
						Но главное – у нас вы сможете создать торт по индивидуальному заказу. Любую надпись или уникальный дизайн, а может украшение живыми цветами, мы всегда творим вместе с вами и знаем, что ничего невозможного нет.
					</p>
					<p>
						Кондитерская Vanilinka предлагает услуги по изготовлению эксклюзивных тортов. У нас можно заказать и небольшой десерт для торжества в узком кругу, и роскошную композицию.
					</p>
					<p>
						НАШИ ПРИНЦИПЫ
					</p>
					<p>
						▪️ открытость, честность и уважение по отношению к клиенту;
					</p>
					<p>
						▪️ только натуральные ингредиенты: не экономим на продуктах, поэтому наши сладости такие вкусные и по-настоящему домашние;
					</p>
					<p>
						▪️ постоянное развитие: каждый день, как и прежде, мы ищем новые идеи, чтобы развиваться и становиться лучше для вас.
					</p>
			</div>
		</div>

    </div>
    <script type="text/javascript" src="{% static 'js/slidind.js' %}"></script>

{% endblock %}