{% extends 'base.html' %}
{% load static %}
{% load sidebar %}

{% block title %}{{ post.title }} : {{ block.super }}{% endblock %}

{% block content %}


    <div class="content">
        <div class="container">
            <div class="cart_menu">
                <div class="catalog_teg">
                    <link href="font-awesome.css" type="text/css" rel="stylesheet">
                    <div class="vn-breadcrumb" itemprop="http://schema.org/breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
                        <div class="vn-breadcrumb-item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                            <a class="vn-breadcrumb-item-link" href="https://vanil-inka.ru/" title="Главная" itemprop="item">
                                <span class="vn-breadcrumb-item-text" itemprop="name">Главная</span>
                            </a>
                            <meta itemprop="position" content="1">
                        </div>
                        <svg class="svg-inline--fa fa-angle-right fa-w-8 vn-breadcrumb-item-angle" aria-hidden="true" data-prefix="fa" data-icon="angle-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512" data-fa-i2svg=""><path fill="currentColor" d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z"></path></svg>
                        <div class="vn-breadcrumb-item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                            <a class="vn-breadcrumb-item-link" href="https://vanil-inka.ru/category/katalog-tortov/" title="Торты на заказ" itemprop="item">
                                <span class="vn-breadcrumb-item-text" itemprop="name">Торты на заказ</span>
                            </a>
                            <meta itemprop="position" content="2">
                        </div>
                        <svg class="svg-inline--fa fa-angle-right fa-w-8 vn-breadcrumb-item-angle" aria-hidden="true" data-prefix="fa" data-icon="angle-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512" data-fa-i2svg=""><path fill="currentColor" d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z"></path></svg>
                        <div class="vn-breadcrumb-item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                            <span class="vn-breadcrumb-item-text"><span itemprop="name">{{ post.title }}</span></span>
                            <meta itemprop="position" content="3">
                        </div>
                    </div>
                </div>
            </div>
            <h1 class="product_title">{{ post.title }}</h1>
            <div class="product_detail product_detail_cake" itemscope="" itemtype="http://schema.org/Product">
                <h1 class="product_title detail_name detail_name_mobile">{{ post.title }}</h1>
                <div class="row">
                    <div class="s-cnt-2 m-head-2">
                        <div class="label_list label_list_new" >
                            {% if post.new == True %}
                                <span class="product_label product_label_new" title="Новинка"> Новинка </span>
                            {% endif %}
                            {% if post.sale == True %}
                                <span class="product_label sale_label">Скидка <span>{{ post.sale_price }}%</span></span>
                            {% endif %}
                        </div>
                        <div class="picture_detail owl-carousel">
                                <div class="mySlide">
                                    <img src="{{ post.photo.url }}" style="width: 100%" alt="{{ post.title }}">
                                </div>
                                <div class="mySlide">
                                    {% if post.photo1 %}
                                        <img src="{{ post.photo1.url }} style='width: 100%' alt='{{ post.title }}" >
                                    {% else %}
                                    <p></p>
                                    {% endif %}
                                </div>
                                <div class="mySlide">
                                    {% if post.photo2 %}
                                        <img src="{{ post.photo2.url }} style='width: 100%' alt='{{ post.title }}" >
                                    {% else %}
                                    <p></p>
                                    {% endif %}
                                </div>
                                <a class="prev_singl" onclick="plusSlides(-1)">&#10094;</a>
                                <a class="next_singl" onclick="plusSlides(1)">&#10095;</a>
                        </div>
                        <div class="picture_detail owl-carousel">
                            <div class="column">
                                <img class="demo cursor" src="{{ post.photo.url }}" style="width: 100%" onclick="currentSlide(1)" alt="{{ post.title }}">
                            </div>
                            <div class="column">
                                <img class="demo cursor" src="{% if post.photo1 %}{{ post.photo1.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}" style="width: 100%" onclick="currentSlide(2)" alt="{{ post.title }}">
                            </div>
                            <div class="column">
                                <img class="demo cursor" src="{% if post.photo2 %}{{ post.photo2.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}" style="width: 100%" onclick="currentSlide(3)" alt="{{ post.title }}">
                            </div>
                        </div>
                    </div>
                    <div class="s-cnt-3 m-head-2">
                        <div class="detail_product_info detail_product_info--bg">
                            <div class="buy_block">
                                <h1 class="product_title detail_name">{{ post.title }}</h1>
                                <div class="deg-set">
                                    <a href="https://vanil-inka.ru/14/merengovyj-rulet/">
                                        <span>Меренговый рулет</span>
                                        <span class="set-bottom">ПОПРОБОВАТЬ</span>
                                    </a>
                                </div>
                                <div class="single_price">
                                    <p class="priceFinal">{{ post.price }}</p>
                                    <p>руб./кг</p>
                                    {% if post.sale == True %}
                                        <p class="priceOriginal"> {{ post.get_original_price }} руб.</p>
                                    {% endif %}
                                </div>
                                <form action="{% url 'cart:cart_add' post.id %}" method="post">
                                    <div class="delivery-block">
                                        <div class="specs">
                                            <div class="size">
                                                <div class="dropdown">
                                                    <div class="form dropContent">
                                                        {% if post.id == 18 or post.id == 17 %}
                                                            {{ cart_desert_form }}
                                                        {% else %}
                                                            {{ cart_product_form }}
                                                        {% endif %}
                                                        {% csrf_token %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="btnContainer fixedBtn" style="display: flex;">
                                        <button class="btn add">
                                        <img src="{% static 'img/shopping-cart-w.svg' %}" alt="">
                                        В  корзину</button>
                                    </div>
                                </form>

                                <div class="delivery-block">Бесплатная доставка в пределах города Курска </div>
                                <div class="deg-set to-mobile">
                                    <a href="https://vanil-inka.ru/14/merengovyj-rulet/">
                                        <span>меренговый рулет</span>
                                        <span class="set-bottom">ПОПРОБОВАТЬ</span>
                                    </a>
                                </div>
                                <div class="delivery-block">
                                {% if post.tags.exists %}
                                        <span>
                                            {% for tag in post.tags.all %}
                                            <a href="{{ tag.get_absolute_url }}">#{{ tag.title }}</a>
                                            {% endfor %}
                                        </span>
                                        <br>
                                    {% endif %}
                                </div>
                                {% if recommended_products %}
                                    <div class="recommendations">
                                    <h3>Рекомендуемые товары</h3>
                                    {% for p in recommended_products %}
                                        <div class="item">
                                            <a href="{{ p.get_absolute_url }}">
                                              <img src="{% if p.photo %}{{ p.photo.url }}{% else %}
                                              {% static  'img/no_image.png' %}{% endif %}">
                                            </a>
                                            <p><a href="{{ p.get_absolute_url }}">{{ p.title }}</a></p>
                                        </div>
                                    {% endfor %}
                                    </div>
                                {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            <!-- Tabs -->
            <div class="tabs-header">
                <div class="tablinks active" onclick="openTabs(event, 'Otziv')">Отзывы</div>
                <div class="tablinks" onclick="openTabs(event, 'Desc')">Описание</div>
                <div class="tablinks" onclick="openTabs(event, 'Taste')">Вкусы</div>
            </div>

            <div id="Otziv" class="tabcontent" style="display: block;">
                <div class="row">
                    <div class="s-cnt-3 m-cnt-5">
                        <div class="average_rating">
                            Рейтинг <span>{{ post.averagereview | stringformat:".2f" }} </span> на основании {{ comments.count }} отзывов
                        </div>

                        <div class="feedbacks_list">
                            {% for comment in page_obj %}
                                <div class="feedback">
                                    <div class="row">
                                        <div class="star-container">
                                            <div class="star-ratings-css">
                                                <div class="star-ratings-css-top" style="width: {{ comment.get_stars }}%">
                                                    <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
                                                <div class="star-ratings-css-bottom"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
                                            </div>
                                        </div>
                                        <div class="name-container">
                                            <div class="feedback_author">{{ comment.name }}</div>
                                            <div class="feedback_date">{{ comment.created_on }}</div>
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="s-cnt-5">
                                            {{ comment.body | linebreaks }}
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <br>
                        <div class="vanilinka_pagination_bottom">
                            {% if page_obj.has_other_pages %}
                                <div class="vanilinka_pagination_page">
                                    <ul>
                                        <li></li>
                                        {% if page_obj.has_previous %}
                                        <li><a href="?page={{ page_obj.previous_page_number }}">&lt;</a></li>
                                        {% endif %}
                                        {% for p in page_obj.paginator.page_range %}
                                            {% if page_obj.number == p %}
                                            <li class="vn_active">{{ p }}</li>
                                            {% elif p > page_obj.number|add:-4 and p < page_obj.number|add:4 %}
                                            <li><a href="?page={{ p }}">{{ p }}</a></li>
                                            {% endif %}
                                        {% endfor %}
                                        {% if page_obj.has_next %}
                                            <li><a href="?page={{ page_obj.next_page_number }}">&gt;</a></li>
                                        {% endif %}
                                    </ul>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="s-cnt-2 m-cnt-6" style="margin-top: 0px;">
                        <div class="row">
                            <div class="s-cnt-5">
                                <div class="add_feedback_title"> Оставьте отзыв </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="s-cnt-5">
                                <div class="feedback_container">
                                    {% if messages %}
                                        {% for message in messages %}
                                            {% if message.tags == 'error' %}
                                                <div class="alert-danger" role="alert">{{ message }}</div>
                                            {% else %}
                                                <div class="alert-{{ message.tags }}" role="alert">{{ message }}</div>
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                    <form id="comment_form" method="post" style="margin-top: 1.3em;">
                                        {% csrf_token %}
                                        <div class="feedback_author">Ваша оценка:</div>
                                        <div class="ratingStars" id="ratingStars">
                                            <span class="star" data-rating="1">&#9733;</span>
                                            <span class="star" data-rating="2">&#9733;</span>
                                            <span class="star" data-rating="3">&#9733;</span>
                                            <span class="star" data-rating="4">&#9733;</span>
                                            <span class="star" data-rating="5">&#9733;</span>
                                        </div>
                                        {{ comment_form.as_p }}
                                        <input type="hidden" name="rating" id="ratingInput" value="1">
                                        <input type="submit" name="iblock_submit" value="Добавить отзыв">
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="Desc" class="tabcontent desc_detail_block">
                <div class="desc_title"> {{ post.title }} </div>
                <div class="osoben">
                    <div>бесплатная доставка</div>
                    <div>100% натуральный</div>
                </div>
                <div class="desc_detail">
                    {{ post.content|safe }}
                </div>
            </div>

            <div id="Taste" class="tabcontent">

                    <div class="taste-list">
                        <div class="p-cnt-1 nl-cnt-4 nx-cnt-3 img-product">
                            <div class="taste-product">
                                <div class="over-img">
                                    <img src="{% static 'img/nach1.webp' %}"
                                        width="230" height="230" alt="Экзотик"
                                        title="Экзотик">
                                </div>
                                <div class="taste-info">
                                    <p class="taste-name"> «Экзотик» </p>
                                    <div class="taste-descr">
                                        <ul>
                                            <li>шифоновый бисквит</li>
                                            <li>сливочный крем чиз</li>
                                            <li>три вида конфи(киви, манго-маракуйя, ананас)</li>
                                        </ul>
                                        <br>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="p-cnt-1 nl-cnt-4 nx-cnt-3 img-product">
                            <div class="taste-product">
                                <div class="over-img">
                                    <img src="{% static 'img/nach2.webp' %}"
                                        width="230" height="230" alt="Насыщенный шоколад"
                                        title="Насыщенный шоколад">
                                </div>
                                <div class="taste-info">
                                    <p class="taste-name"> «Насыщенный шоколад» </p>
                                    <div class="taste-descr">
                                        <ul>
                                            <li>шоколадный бисквит</li>
                                            <li>шоколадный крем на основе молочного шоколада</li>
                                            <li>сливочный крем</li>
											<li>хрустящие шарики криспи</li>
											<li>крошка печенья орео</li>
                                        </ul>
                                        <br>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="p-cnt-1 nl-cnt-4 nx-cnt-3 img-product">
                            <div class="taste-product">
                                <div class="over-img">
                                    <img src="{% static 'img/nach3.webp' %}"
                                        width="230" height="230" alt="Бананы в карамели"
                                        title="Бананы в карамели">
                                </div>
                                <div class="taste-info">
                                    <p class="taste-name"> «Бананы в карамели» </p>
                                    <div class="taste-descr">
                                        <ul>
                                            <li>ароматный бисквит</li>
                                            <li>нежный сливочный крем</li>
                                            <li>прослойка из карамелизованных бананов</li>
                                        </ul>
                                        <br>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="p-cnt-1 nl-cnt-4 nx-cnt-3 img-product">
                            <div class="taste-product">
                                <div class="over-img">
                                    <img src="{% static 'img/nach4.webp' %}"
                                        width="230" height="230" alt="Малиновый сюрприз"
                                        title="Малиновый сюрприз">
                                </div>
                                <div class="taste-info">
                                    <p class="taste-name">«Малиновый сюрприз»</p>
                                    <div class="taste-descr">
                                        <ul>
                                            <li>малиновый пломбир</li>
                                            <li>шоколадные коржи</li>
                                            <li>мусс малиновый со сливочными шариками</li>
                                        </ul>
                                        <br>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="p-cnt-1 nl-cnt-4 nx-cnt-3 img-product">
                            <div class="taste-product">
                                <div class="over-img">
                                    <img src="{% static 'img/nach5.webp' %}"
                                        width="230" height="230" alt="Морковно-малиновый"
                                        title="Морковно-малиновый">
                                </div>
                                <div class="taste-info">
                                    <p class="taste-name"> «Морковно-малиновый» </p>
                                    <div class="taste-descr">
                                        <ul>
                                            <li>морковные коржи с добавлением грецкого ореха,
											    кураги и апельсиновой цедры</li>
                                            <li>кремчиз (творожный сыр, сливки, сахарная пудра)</li>
                                            <li>конфи из малины или апельсинов на выбор</li>
                                        </ul>
                                        <br>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="p-cnt-1 nl-cnt-4 nx-cnt-3 img-product">
                            <div class="taste-product">
                                <div class="over-img">
                                    <img src="{% static 'img/nach6.webp' %}"
                                        width="230" height="230" alt="Малиновый пломбир"
                                        title="Малиновый пломбир">
                                </div>
                                <div class="taste-info">
                                    <p class="taste-name"> «Малиновый пломбир» </p>
                                    <div class="taste-descr">
                                        <ul>
                                            <li>шифоновый бисквит</li>
											<li>пломбирный крем</li>
                                            <li>конфи из малины или любой ягоды (на выбор)</li>
                                        </ul>
                                        <br>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

            </div>
        </div>
        <br>
    </div>

    <script>
        const stars = document.querySelectorAll('.star');
        const ratingInput = document.getElementById('ratingInput');

        stars.forEach(star => {
            star.addEventListener('click', () => {
                const rating = parseInt(star.getAttribute('data-rating'));
                ratingInput.value = rating;
                stars.forEach(s => {
                    if (parseInt(s.getAttribute('data-rating')) <= rating) {
                        s.classList.add('selected');
                    } else {
                        s.classList.remove('selected');
                    }
                });
            });
        });
    </script>

    <script type="text/javascript" src="{% static 'js/slidsing.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/tabs.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/all.min.js' %}"></script>

{% endblock %}