{% extends "admin/base_site.html" %}
{% block title %}
  Заказ № {{ order.id }} {{ block.super }}
{% endblock %}
{% block breadcrumbs %}
  <div class="breadcrumbs">
      <a href="{% url 'admin:index' %}">Главная</a> &rsaquo;
    <a href="{% url 'admin:orders_order_changelist' %}">Заказы</a>
    &rsaquo;
    <a href="{% url 'admin:orders_order_change' order.id %}">Заказ № {{ order.id }}</a>
    &rsaquo; Подробности
  </div>
{% endblock %}
{% block content %}
<div class="module">
  <h1>Заказ № {{ order.id }}</h1>
  <ul class="object-tools">
    <li>
      <a href="#" onclick="window.print();">
        Распечатать заказ
      </a>
    </li>
  </ul>
  <table>
    <tr>
      <th>Дата заказа</th>
      <td>{{ order.created }}</td>
    </tr>
    <tr>
      <th>Клиент</th>
      <td>{{ order.first_name }} {{ order.last_name }}</td>
    </tr>
    <tr>
      <th>Телефон</th>
      <td><a href="mailto:{{ order.phone }}">{{ order.phone }}</a></td>
    </tr>
    <tr>
      <th>Срок заказа</th>
    <td>
      {{ order.time }} {{ order.date }}
    </td>
    <tr>
    <th>Пожелания</th>
    <td>{{ order.wish }}</td>
  </tr>
  </tr>
  <tr>
    <th>Общая сумма</th>
    <td>{{ order.get_total_cost }} руб.</td>
  </tr>
  <tr>
    <th>Статус оплаты</th>
    <td>{% if order.paid %}Оплачено{% else %}Ожидает оплаты{% endif %}</td>
  </tr>
  <tr>
      <th>Stripe payment</th>
    <td>
      {% if order.stripe_id %}
        <a href="{{ order.get_stripe_url }}" target="_blank">
          {{ order.stripe_id }}
        </a>
      {% endif %}
    </td>
  </tr>
</table>
</div>
<div class="module">
  <h2>Выбранные десерты</h2>
  <table style="width:100%">
    <thead>
      <tr>
        <th>Десерт</th>
        <th>Цена</th>
        <th>Количество</th>
        <th>Общая сумма</th>
      </tr>
    </thead>
    <tbody>
      {% for item in order.items.all %}
        <tr class='row{% cycle "1" "2" %}'>
          <td>{{ item.post.title }}</td>
          <td class="num">${{ item.price }}</td>
          <td class="num">{{ item.quantity }}</td>
          <td class="num">${{ item.get_cost }}</td>
        </tr>
      {% endfor %}
      {% if order.coupon %}
        <tr class="subtotal">
          <td colspan="3">Сумма без скидки</td>
          <td class="num">
            ${{ order.get_total_cost_before_discount|floatformat:2 }}
          </td>
        </tr>
        <tr>
        <td colspan="3">
          "{{ order.coupon.code }}" купон
          ({{ order.discount }}% скидка)
        </td>
        <td class="num neg">
          – ${{ order.get_discount|floatformat:2 }}
        </td>
        </tr>
       {% endif %}
      <tr class="total">
        <td colspan="3">Общая сумма</td>
        <td class="num">{{ order.get_total_cost|floatformat:2 }} руб.</td>
      </tr>
    </tbody>
  </table>
</div>
{% endblock %}